/*-------------Recuperation des fonts---------------*/
@font-face {
  font-family: "ChelseaMarket-Regular";
  src: url("../Acceuil_site/z_backend/fonts/chelsea_market/ChelseaMarket-Regular.ttf"); }
@font-face {
  font-family: "Muli-Regular";
  src: url("../Acceuil_site/z_backend/fonts/muli/Muli-Regular.ttf"); }
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../Acceuil_site/z_backend/fonts/muli/Muli-SemiBold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*--------LA_BARRE----------------*/
#sidebar {
    position: fixed;
    border: 1px solid black;
    top: 0;
    left: -310px;
    width: 300px;
    height: 100%;
    background-color: #ffffffcb;
    transition: left 0.3s ease-in-out;
  }
  #sidebar.active {
    left: 0;
  }
  .flex{
    display: flex;
  }
  .display{
    display: flex;
    margin-top: 10%;
  }
  .btn{
    border: 1px solid var(--background);
    margin-left: 20%;
    margin-right: 20%;
    height: 30px;
    margin-top: 5%;
    margin-bottom: 12%;
    border-radius: 10px;
    background-color: #4fbdeb;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn:hover{
    background-color: purple;
    border: 1px solid purple;
  }
  .btn2{
    border: 1px solid var(--background);
    margin-left: 10%;
    margin-right: 10%;
    height: 35px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: #e6356e;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn2:hover{
    background-color: #f9004f;
    border: 1px solid var(--background);
  }
  .contrainer{
    border: 1px solid blue;
    
    border-radius: 15px;
    margin-left: 7%;
    margin-right: 7%;
  }
  .prof{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
  /* CSS pour enlever le soulignement et la couleur bleue des liens */
  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }

  /* CSS pour espacer l'image et le texte à l'intérieur des liens */
  a img {
    margin-right: 10px;
  }

  .nom_util{
    margin-top: 10px;
    width: 30%;
    border-radius: 100%;
  }

  .img{
    width: 10%;
  }
  /* Styles pour le bouton de menu */
  #menu-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: left 0.3s ease-in-out;
  }
  
  #menu-button.active {
    left: 310px; /* Ajustez la valeur en fonction de la largeur du menu */
  }
  
  /*----------------PARTIE ACCEUIL-----------------*/
  .masthead {
    padding-top: 10.5rem;
    padding-bottom: 8rem;
    color: #fff;
    background-image: url("../../../images/hu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

section{
  background: linear-gradient(to bottom, #e6356e, #ffffff);
}
.button{
    margin-left: 10%;
    border: 1px solid var(--background);
    border-radius: 10px;
    margin-right: 63%;
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 10%;
    background-color: #ffc800;
    font-size: 2.0rem;
  }
  .button5{
    margin-left: 40%;
    border: 1px solid var(--background);
    border-radius: 10px;
    margin-right: 40%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #ffc800;
    font-size: 1.5rem;
  }
  .button11{
    margin-left: 40%;
    border: 1px solid var(--background);
    border-radius: 10px;
    margin-right: 40%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 8%;
    background-color: #ffc800;
    font-size: 1.5rem;
  }
.vid{
  margin-top: 5%;
  margin-bottom: 5%;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center !important;
}
.text-uppercase {
  padding-top: 2%;
  text-transform: uppercase !important;
}
header.masthead .masthead-heading {
    font-size: 3.0rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
header.masthead .masthead-subheading {
    margin-left: 10%;
    font-size: 2.0rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }

.btn {
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.reward{
  margin-top: 2%;
  width:15%;
}
.affiche {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}

.bienv {
  margin-top: 3.5%;
  font-size: 30px;
}

h3, .hh4 {
  text-transform: uppercase;
  font-family: "ChelseaMarket-Regular";
}

h4 {
  text-transform: uppercase;
  font-family: "Muli-Regular";
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.flex img {
  flex-grow: 1;
  
}

.container1{
  width: 90%;
  margin: auto;	 
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.color{

  padding: 20px;
  text-align: center;
  font-size: 200%;
  font-family: "ChelseaMarket-Regular";
}
.voir1{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  color: white;
}
.voir2{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  color: rgb(0, 0, 0);
}
.head-icon{
  width: 5%;
}
.box{
  width: 250px;
  margin: 0 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  transition: 1s;

}
.box img{
  display: block;
  width:100%;
  border-radius: 5px;
}
.box:hover{
  transform: scale(1.3);
  z-index: 2;
}
 /*----------------FOOTER-----------------*/
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }
 
 .content {
   margin-bottom: 150px;
 }
 
 .footer {
   position: absolute;
   width: 100%;
   background: #e6356e;
   min-height: 100px;
   margin-top: 100px;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }


.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu__item {
  list-style: none;
}


.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../../../images/wave2.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
