:root {
    --border: #0a3474;
    --box-shadow: #3a2ee3;
    --button-background: #1733bd;
    --button-box-shadow: #172150;
    --background: #ffffff; /* Ajout d'une variable background */
}

/* Styles pour le corps de la page */
body {
    background-image: url("backb3.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    border: 1px solid var(--background);
    box-shadow: 0 0 48px 0.20px var(--box-shadow);
}

/* Styles pour la div principale */
.container {
    border: 1px solid rgba(10, 7, 23, 0.376);
    border-radius: 15px;
    background-color: rgba(11, 7, 27, 0.472);
    box-shadow: 0 0 48px 0.80px var(--border);
    padding: 20px;
}
/* Styles pour l'image */
img {
    width: 50%; /* Définir la largeur à 100% pour qu'elle s'adapte à la largeur du conteneur */
    height: auto; /* Garder le ratio de l'image et ajuster la hauteur en conséquence */
}

/* Styles pour le titre */
h1 {
    text-align: center;
    margin-top: 60px;
    color: var(--button-background);
}

/* Styles pour les paragraphes */
p {
    text-align: center;
    margin-bottom: 10px;
}

/* Styles pour le formulaire */
form {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

/* Styles pour le bouton */
input[type="submit"] {
    background-color: var(--button-background);
    border-radius: 20px;
    box-shadow: 0 0 48px 0.50px var(--button-box-shadow);
    margin-top: 35px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
}

/* Styles pour les étiquettes */
label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Styles pour l'animation de l'encouragement */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Styles pour l'encouragement */
.encouragement {
    animation: fade-in 1s ease-in;
    width: 200px;
    height: auto;
    margin: 20px auto;
    display: block;
}

/* Styles pour l'encouragement conditionnel */
.correct {
    color: green;
}

.faux {
    color: red;
}
